@import "utils/functions";
@import "config/variables";


.vid-container{
    
    
    overflow:hidden;
}
.bgvid.back {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:red;
}
.calendar {
  background:$color-silver-light;
  width: 60%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  // View mode selector
  .calendar__view-selector {
    float: right;
    margin-right: -272px;
    margin-top: 152px;
    border-radius:25px;
    .calendar__view-selector__item {
      width: px-to-rem(100);
      display: inline-block;
      background: $color-silver-light;
      text-align: center;
      cursor: pointer;
      font-size: px-to-rem(14);
      padding: px-to-rem(2) 0;
      margin-bottom: $margin-small;

      &:first-child {
        border-top-left-radius: px-to-rem(4);
        border-bottom-left-radius: px-to-rem(4);
      }

      &:nth-child(2) {
        border-left: 1px solid $color-white;
        border-right: 1px solid $color-white;
      }

      &:last-child {
        border-top-right-radius: px-to-rem(4);
        border-bottom-right-radius: px-to-rem(4);
      }

      &:hover,
      &.calendar__view-selector__item--selected {
        color: $color-white;
        background: $color-blue-light;
      }
    }
  }

  // Date selector
  .calendar__date-selector {
    float: left;
    margin-top:-50px;

    .calendar__date-selector__controller {
      width: px-to-rem(50);
      display: inline-block;
      text-align: center;
      background: $color-silver-light;
      cursor: pointer;

      &.calendar__date-selector__controller__arrow-left {
        border-top-left-radius: px-to-rem(4);
        border-bottom-left-radius: px-to-rem(4);
      }

      &.calendar__date-selector__controller__arrow-right {
        border-top-right-radius: px-to-rem(4);
        border-bottom-right-radius: px-to-rem(4);
      }
    }

    .calendar__date-selector__date-name {
      width: px-to-rem(150);
      display: inline-block;
      text-align: center;
      font-size: px-to-rem(14);
    }
  }

  // Calendar header
  .calendar__header {
    width: 90%;
    display: inline-block;
    margin-bottom: px-to-rem(9);

    h1 {
      font-size: px-to-rem(26);
      text-transform: uppercase;
      color: $color-blue;
      margin: 0;
    }

    .calendar__header__day-name {
      display: inline-flex;
      width: calc(70% / 7.45);
      padding-left: px-to-rem(15);
      font-size: px-to-rem(17);
      color: $color-silver-dark;
    }
  }

  // Month view
  .calendar__month-view {
    .calendar__month-view__days {
      .calendar__month-view__days__item {
        display: inline-block;
        width: calc(100% / 7);
        height: px-to-rem(50);
        padding: px-to-rem(10) 0 0 px-to-rem(10);
        border: 1px solid $color-silver;
        border-left: 0;
        border-top: 0;
        color: $color-silver-dark;
        cursor: pointer;

        &:first-child,
        &:nth-child(8),
        &:nth-child(15),
        &:nth-child(22),
        &:nth-child(29),
        &:nth-child(36) {
          border-left: 1px solid $color-silver;
        }

        &:nth-child(-n+7) {
          border-top: 1px solid $color-silver;
        }

        &:hover {
          background: $color-silver-light;
        }

        &.calendar__month-view__days__item--previous-month {
          color: $color-silver;

          &:hover {
            background: transparent;
          }
        }

        &.calendar__month-view__days__item--event {
          background: $color-blue-light;
          color: $color-white;
        }

        &.calendar__month-view__days__item--selected {
          background: $color-blue;
          color: $color-white;
        }
      }
    }
  }

  // Week view
  .calendar__week-view {
       position:absolute;
  width: 710px;
  margin-left:-350px;
  margin-right:-50px;
  margin-top:200px;
  left:50%; 
  border-radius:10px;
  background:$color-white;
    border: 10px ridge #6666cc;
  
    .calendar__header {
      margin-left: 15.5%;
    }

    .calendar__hours {
      height: px-to-rem(300);
      overflow: auto;

      .calendar__hours__hour {
        cursor: pointer;
              margin-left: 70.5px;
              margin-right: 7.5px;

        .calendar__hours__hour__title {
          width: 10%;
          display: inline-block;
          font-size: px-to-rem(14);
        }

        .calendar__hours__hour__days {
          width: 85%;
          display: inline-block;

          .calendar__hours__hour__days__item {
            width: calc((100% / 7));
            display: inline-block;
            cursor: pointer;
            line-height:50px;

            &:hover {
              background: $color-silver-light;
            }

            &.calendar__hours__hour__days__item--event {
              background: $color-blue-light;
            }

            &.calendar__hours__hour__days__item--selected {
              background: $color-blue;
            }

            &::before {
              content: "\200B";
            }
          }
        }

        &:nth-child(even) {
          .calendar__hours__hour__days {
            border-bottom: px-to-rem(1) solid $color-silver;
          }
        }
      }
    }
  }

  // Day view
  .calendar__day-view {
    .calendar__hours {
      height: px-to-rem(300);
      overflow: auto;

      .calendar__hours__hour {
        cursor: pointer;

        .calendar__hours__hour__title {
          width: 6%;
          display: inline-block;
          font-size: px-to-rem(14);
        }

        .calendar__hours__hour__item {
          width: 94%;
          display: inline-block;

          &:hover {
            background: $color-silver-light;
          }

          &.calendar__hours__hour__item--event {
            background: $color-blue-light;
          }

          &.calendar__hours__hour__item--selected {
            background: $color-blue;
          }

          &::before {
            content: "\200B";
          }
        }

        &:nth-child(even) {
          .calendar__hours__hour__item {
            border-bottom: px-to-rem(1) solid $color-silver;
          }
        }
      }
    }
  }
}