html {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
    
    font-family: Consolas, monaco, monospace;
    font-style: normal;
    font-variant: normal;
    justify-content: center;
    align-items: center;
}
html body {
    
}

.trilha {
    width: 100%;
    font-size: 3.5mm;
    word-wrap: break-word;
}

.naoFiscal {
    width: 100%;
    font-size: 3.5mm;
    font-weight: bolder;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2mm;
}

.textos {
    width: 100%;
    font-size: 3.3mm;
    word-wrap: break-word;
}

.titulo {
    width: 100%;
    font-size: 3.6mm;
    font-weight: bolder;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2mm;
}

.espacoTitulo {
    margin-right: 1mm;
}

.textos .direita {
    float: right;
    padding-right: 2mm;
}

.criancas {
    margin-bottom: 2mm;
}

.atendente {
    margin-bottom: 2mm;
}

.rodape {
    width: 100%;
    font-size: 3.3mm;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    display: flex;
}

table, th, td {
    border: 0px solid black;
}

th, td {
    padding: 0px;
    text-align: left;    
}