// Colors
$color-white: #FFFFFF;

$color-blue-light: #91bde5;
$color-blue: #FF69B4;

$color-silver-light: #f4f4f4;
$color-silver: #d7d7d7;
$color-silver-dark: #333333;

// Margins
$margin-small: px-to-rem(18);
