@media screen and (max-width: 767px) {
    .brlabel {
        margin-top: 7px;
    }
}

.LetraFormulario {
    color: black;
}

.optionFomulario {
    padding: 1px 1px !important;
}
.botãoVoltar {
    background: #052963;
    color: #fff;
}
.botãoVoltar:hover {
    color: #2aabb6 !important;
}
.botãoAvançar:hover {
    color: #052963 !important;
}
.botãoAvançar{
    margin-left: 20px !important;
    background: #00C6D7;
    color: #fff;
}