@media screen and (max-width: 767px) {
    .brlabel {
        margin-top: 7px;
    }
}
.errorBorder {
    border: 1px solid red !important;
}
.displaynone {
    display: none;
}
.LetraFormulario {
    color: black;
}
.optionFomulario {
    padding: 1px 1px !important;
}
.botao {
    background: #00C6D7;
    color: #fff;
}
.botao:hover {
    background: #052963 !important;
    color: #fff;
}
.tam {
    height: 50px;
    width: 50px;
}
.botaoAvancar {
    background: #00C6D7;
    color: #fff;
}
.botaoAvancar:hover {
    background: #052963 !important;
    color: #fff;
}.opt1 {
    background-color: #009eac !important;
    color: #fff;
}
.opt2 {
    background-color: #16b4c2 !important;
    color: #fff;
}
.opt3 {
    background-color: #00c6d7 !important;
    color: #fff;
}
.opt4 {
    background-color: #00ced1 !important;
    color: #fff;
}
.opt5 {
    background-color: #20b2aa !important;
    color: #fff;
}
.opt6 {
    background-color: #3cb7c4 !important;
    color: #fff;
}
.opt7 {
    background-color: #19a2af !important;
    color: #fff;
}
#paddingNome{
  padding-top: 37px !important;  
}

@media screen and (max-width: 767px) {
    .brdiv {
        margin-top: 20px;
    }
}

.divBotao {
    padding: 9px;
    height: 100px;
}

@media screen and (min-width: 1600px ){
    .grafico {
        margin-left: 150px;
    }
}
@media screen and (max-width: 1599px){
    .grafico {
        margin-left: 100px !important;
    }
}
@media screen and (max-width: 1360px){
    .grafico {
        margin-left: 60px !important;
    }
}
@media screen and (max-width: 1300px){
    .grafico {
        margin-left: 40px !important;
    }
}
@media screen and (max-width: 1280px){
    .grafico {
        margin-left: 20px !important;
    }
}
@media screen and (max-width: 1190px){
    .grafico {
        margin-left: 0px !important;
        width: 600px !important;
    }
}
