@media screen and (max-width: 767px) {
    .brlabel {
        margin-top: 7px;
    }
}
.errorBorder {
    border: 1px solid red !important;
}
.displaynone {
    display: none;
}
.LetraFormulario {
    color: black;
}
.optionFomulario {
    padding: 1px 1px !important;
}
.botao {
    background: #00C6D7;
    color: #fff;
    height: 50px;
    width: 50px;
}
.botao:hover {
    background: #052963 !important;
    color: #fff;
}
.botaoAvancar {
    background: #00C6D7;
    color: #fff;
}
.botaoAvancar:hover {
    background: #052963 !important;
    color: #fff;
}
.opt1 {
    background-color: blue !important;
    color: #fff;
}
.opt2 {
    background-color: violet !important;
    color: #fff;
}
.opt3 {
    background-color: green !important;
    color: #fff;
}
.opt4 {
    background-color: orange !important;
    color: #fff;
}
.opt5 {
    background-color: yellow !important;
    color: #000000;
}
.opt6 {
    background-color: red !important;
    color: #fff;
}
.opt7 {
    background-color: aqua !important;
    color: #000000;
}
#paddingNome{
  padding-top: 37px !important;  
}

@media screen and (max-width: 767px) {
    .brdiv {
        margin-top: 20px;
    }
}

.divBotao {
    padding: 9px;
    height: 100px;
}

@media screen and (max-width: 767px) { 
  
    /* Responsive Table */
    .table-responsive {
      display: block !important;
      position: relative !important;
      width: 100% !important;
    }
  
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
      display: block !important;
    }
    .table-responsive td,
    .table-responsive th {
      height: 35px !important;
    }
  
    .table-responsive thead {
      float: left !important;
    }
  
    .table-responsive tbody {
      width: auto !important;
      position: relative !important;
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch !important;
      white-space: nowrap !important;
    }
  
    .table-responsive tbody tr {
      display: inline-block !important;
    }
}